@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

.productCard {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2EAE2;
}

.productContainer {
  width: 600px;
  height: 450px;
  background: #FFFFFF;
  display: flex;
  border-radius: 10px;
}

.productImg {
  width: 50%;
  height: 100%
}

.productInfo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.productCategory {
  color: #6C7289;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.productTitle {
  color: #1C232B;
  font-family: Fraunces, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 24px;
}

.productDescription {
  color: #6C7289;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; 
  padding-bottom: 29px;
}

.productPrices {
  display: flex;
}

.productPrice {
  color:#3D8168;
  font-family: Fraunces, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; 
  padding-bottom: 30px;
}

.productPriceFormer {
  color: #6C7289;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  text-decoration-line: line-through;
  padding: 4px 0 0 19px;
}

.addBtn {
  width: 236px;
  height: 48px;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  border-radius: 8px;
  background: #3D8168;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.addBtn:hover {
  background-color: #1A4032;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .productContainer {
    margin: 28px 16px;
    width: 100%;
    height: 100%;
    max-width: 340px;
    max-height: 610px;
    display: flex;
    flex-direction: column;
  }

  .productInfo {
    width: 100%;
    height: 60%;
    padding: 24px;
  }

  .productImg {
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0px 0px;
  }

  .productCategory {
    padding-bottom: 12px;
  }

  .productTitle {
    padding-bottom: 16px;
  }

  .productDescription {
    padding-bottom: 24px;
    max-width: 295px;
  }

  .productPrice {
    padding-bottom: 20px;
  }

  .addBtn {
    width: 295px;
  }
}
